pre {
    background-color: gray;
    color: white;
}
code { font-family: 'Courier'; }
a {
    color: blue;
    cursor: pointer;
}
i { font-style: italic; }
b { font-weight: bold; }
small { font-size: 90%; }
big { font-size: 110%; }
sup {
    vertical-align: super;
    font-size: 90%;
}
sub {
    vertical-align: sub;
    font-size: 90%;
}
input {
    font-size: 16px; font-weight: normal; font-style: normal;
    background-color: lightblue;
}
button {
    font-size: 16px; font-weight: normal; font-style: normal;
    background-color: orange;
}

* { display: inline; }

html, body, article, section, nav, aside,
h1, h2, h3, h4, h5, h6, hgroup, header,
footer, address, p, hr, pre, blockquote,
ol, ul, menu, li, dl, dt, dd, figure,
figcaption, main, div, table, form, fieldset,
legend, details, summary {
    display: block;
}
